<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

  <!-- header -->
  <%- include ('./ejs/layout/header.ejs') %>

  <%- contents %>

  <!-- footer -->
  <%- include ('./ejs/layout/footer.ejs') %>  
  
  <script src="./assets/js/jquery-3.5.1.slim.min.js"></script>
  <script src="./assets/js//bootstrap-4.5.3.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
